body {
    background-color: #274467;
  }
  
  #form-text {
    width: 900px;
  }
  
  #main-nav {
    padding-bottom: 10px;
    margin-bottom: 15px;
    background-color: #1D3354;
  }

  #url-button {
    margin-left: 1%;
  }